body{
  font-family: 'Slabo 13px', serif;
  background: #CDA34F url(../assets/pizzaicon.png) right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:500px;
  color: #E9E7DA;

}

#randomSpecial{
  font-family: 'Slabo 13px', serif;
  margin-left: 25px;
  color:#636B46;
  font-size: 35px;
}

/*
#CDA34F
*/

a:link{
  color:#636B46
}

a:visited{
  color:#636B46
}

a{
  text-decoration: none;
}

a:hover{
  color:#373F27;
}

#name{
  text-align: center;
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 80px
}

span{
  color:#636B46;
}

.bigger{
  font-size: 30px;
  font-weight:bold;
}

#tagLine{
  text-align:center;
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 40px;
  margin-bottom:50px;
}

#topMenu{
  text-align: center;

}

.guide{
  display: inline;
  font-size: 50px;
  margin-right: 15px;

  
}

#topMenu: link{
  color: #B4DBC0;
}

#menuLine{
  border:none;
  height:10px;
  background-color: #636B46;
}

hr{
  border:none;
  height:2px;
  background-color: #636B46;
}

#subscribeLine{
  margin-top: 20px;
}

#special{
  margin-left:25px;
}



.pizza{
  
}

.pizzaName{
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 20px;
  color:#636B46;
}

.description{
  font-size: 15px;
  margin-left: 25px;
}

.price{
  margin-left:25px;
}

#deal{
  margin-left:25px;
}

#special{
  font-size: 15px;
}

input{
  margin-left:25px;
}

